# 2. Переменные

## 2.1. Правила для имен переменных
* Имя не может начинаться с числа.
* В имени не может быть пробелов, вместо этого используйте нижнее подчёркивание: "_".
* Имя не может содержать следующие символы:

      :'",<>/?|\!@#%^&*~-+
       
* Считается хорошей практикой писать имена в нижнем регистре - см. [PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)
* Не используйте в качестве названий переменных ключевые слова Python, такие как `list` и `str`
* Не используйте следующие имена из одной буквы: 'l' (нижний регистр буквы L), 'O' (Верхний регистр буквы о), и 'I' (верхний регистр буквы i), потому что их можно спутать с единицей '1' и нулем '0'.

## 2.2. Динамические типы данных

Python использует динамические типы данных (*dynamic typing*), то есть Вы можете присваивать переменным значения сначала одного, а затем другого типа. Благодаря этому Python очень гибко работает с типами данных; это отличает его от тех языков программирования, в которых типы данных *статичные*.

In [ ]:
my_dogs = 2

In [ ]:
my_dogs

2

In [13]:
my_cats = 5
my_cats

5

In [4]:
my_dogs = ['Sammy', 'Frankie']

In [5]:
my_dogs

['Sammy', 'Frankie']

In [12]:
my_cats = ['Билли', 'Дилли', 'Вилли', 'Милли', 'Филли']
my_cats

['Билли', 'Дилли', 'Вилли', 'Милли', 'Филли']

### Плюсы и минусы динамических типов данных
#### Плюсы
* легче работать
* быстрее время разработки

#### Минусы
* можно получить неожиданные ошибки!
* нужно следить за типами данных - `type()`

## 2.3. Присвоение переменных
Присвоение переменных пишется вот так: `name = object`, где оператор `=` это оператор присвоения (*assignment operator*)

In [107]:
a = 5

In [108]:
a

5

In [16]:
v = 12345
v

12345

Мы присвоили переменной с именем 'a' числовой объект `5`.<br>Давайте присвоим `a` другое значение:

In [109]:
a = 10

In [110]:
a

10

In [17]:
v = 54321
v

54321

Теперь можно использовать `a` вместо числа `10`:

In [111]:
a + a

20

In [19]:
v=15
(v+v)*v

450

## 2.3. Переопределение переменных
Python позволяет переопределять переменные, ссылаясь на тот же самый объект.

In [112]:
a = a + 10

In [113]:
a

20

In [26]:
v=15
v=v/5
v

3.0

И это можно написать в короткой форме. Python позволяет складывать, вычитать, умножать и делить числа с помощью `+=`, `-=`, `*=` и `/=`.

In [114]:
a += 10 # это означает:  a = a + 10

In [115]:
a

30

In [28]:
v=15
v/=5
v

3.0

In [29]:
v+=5
v

8.0

In [116]:
a *= 2  # это означает:  a = a * 10

In [117]:
a

60

In [30]:
v*=8
v

64.0

## 2.4. Определение типа переменной с помощью `type()`
Вы можете узнать тип объекта, который был присвоен переменной, с помощью встроенной функции `type()`. Часто используемые типы данных:
* **int** (для integer)
* **float**
* **str** (для string)
* **list**
* **tuple**
* **dict** (для dictionary)
* **set**
* **bool** (для Boolean True/False)

In [118]:
type(a)

int

In [119]:
a = (1,2)

In [120]:
type(a)

tuple

In [121]:
v=15
type(v)

int

In [43]:
v=15
v/=8
type(v)

float

In [34]:
v= ('food')
type(v)

str

In [36]:
v=['Я', 'Ты', 'Мы']
type(v)

list

In [32]:
v=15,8
type(v)

tuple

In [47]:
v = {'dict':15}
v
type(v)

dict

In [48]:
v={1,5,9,14}
type(v)

set

In [50]:
v=15
x=v<10
type(x)

bool

## Простой пример
Здесь показано, как осмысленные названия переменных могут сделать ваш код более читаемым.

In [122]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [123]:
my_taxes

10.0

In [53]:
money_per_hour = 150
hours = 8
day_income = money_per_hour*hours
day_income

1200

## 2.5. Типы данных
Типы данных, которые есть в python. [официальная документация](https://docs.python.org/3/library/stdtypes.html).

1.   Числа (int, float, complex).
2.   Строки.
3.   Логический тип данных.
4.   Переменные

## Целые числа
Целые числа могут иметь бесконечную длину

In [124]:
print(11111111111111111111111111111111111111111111111111111111111111111111111111 + 2)

11111111111111111111111111111111111111111111111111111111111111111111111113

In [55]:
657328939820937465325267383635*100000000000000000000000000000000000000000000000000000000000000000000000000000

65732893982093746532526738363500000000000000000000000000000000000000000000000000000000000000000000000000000

Python поддерживает несколько систем исчисления
1.   Восьмеричную
2.   Шестнадцатеричную
3.   Двоичную

Посмотрите вики [link](https://ru.wikipedia.org/wiki/%D0%A8%D0%B5%D1%81%D1%82%D0%BD%D0%B0%D0%B4%D1%86%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D1%87%D0%BD%D0%B0%D1%8F_%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D1%81%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F)

In [125]:
print(0o11)  # base = 8
print(0x1A)  # base = 16
print(0b10)  # base = 2

9
26
2

In [60]:
print(0o15)
print(0x12B)
print(0b1010101)

13
299
85

In [126]:
# это все тип int, над которым работает арифметика
print(type(10))
print(type(0o10))

<class 'int'>
<class 'int'>

In [62]:
print(type(85))
print(type(0x128))

<class 'int'>
<class 'int'>

## Числа с плавающей точкой

In [127]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(type(.4e7))
print(4e+3)
print(2.2e-5 == 0.000022)
print(0.000022)

4.2
<class 'float'>
4.0
0.2
4000000.0
<class 'float'>
4000.0
True
2.2e-05

In [70]:
print(4.3)
print(type(4.3))
print(164.)
print(.07)
print(.10e2)
print(type(.10e2))
print(10e+7)
print(10e-7)
print(1.5e-5==0.567)
print(1.5e-5)

4.3
<class 'float'>
164.0
0.07
10.0
<class 'float'>
100000000.0
1e-06
False
1.5e-05

In [128]:
# У вещественных чисел существует ограничение

# бесконечность
print(1.79e308)
print(1.8e308)
# ближайшее к нулю
print(5e-324)
print(1e-325)

1.79e+308
inf
5e-324
0.0

In [72]:
print(1.77e308)
print(1.99e308)
print(3e-320)
print(3e-325)
print(1e-326)

1.77e+308
inf
3e-320
0.0
0.0

In [129]:
# есть также константа inf, удобная для определения бесконечных
print(-float("inf"))
print(float("inf") > 10e300)
print(float("inf") > 10e400)

-inf
True
False

In [75]:
print(-float('inf'))
print(float('inf')>10e215)
print(float('inf')>10e325)
print(float('inf')>10e420)

-inf
True
False
False

In [130]:
(1.1 + 2.2) - 3.3 < 0.1

True

In [77]:
print((7.6+4.3)/10 - 6 > 0.01)
print((7.6+4.3/10 - 6 > -23.8))

False
True

## Общие операции для разных численных типов данных

<table class="docutils align-default">
<colgroup>
<col style="width: 25%">
<col style="width: 40%">
<col style="width: 11%">
<col style="width: 24%">
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Operation</p></th>
<th class="head"><p>Result</p></th>
<th class="head"><p>Notes</p></th>
<th class="head"><p>Full documentation</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">+</span> <span class="pre">y</span></code></p></td>
<td><p>sum of <em>x</em> and <em>y</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">-</span> <span class="pre">y</span></code></p></td>
<td><p>difference of <em>x</em> and <em>y</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">*</span> <span class="pre">y</span></code></p></td>
<td><p>product of <em>x</em> and <em>y</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">/</span> <span class="pre">y</span></code></p></td>
<td><p>quotient of <em>x</em> and <em>y</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">//</span> <span class="pre">y</span></code></p></td>
<td><p>floored quotient of <em>x</em> and
<em>y</em></p></td>
<td><p></p></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">%</span> <span class="pre">y</span></code></p></td>
<td><p>remainder of <code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">/</span> <span class="pre">y</span></code></p></td>
<td><p></p></td>
<td></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">-x</span></code></p></td>
<td><p><em>x</em> negated</p></td>
<td></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">+x</span></code></p></td>
<td><p><em>x</em> unchanged</p></td>
<td></td>
<td></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">abs(x)</span></code></p></td>
<td><p>absolute value or magnitude of
<em>x</em></p></td>
<td></td>
<td><p><a class="reference internal" href="functions.html#abs" title="abs"><code class="xref py py-func docutils literal notranslate"><span class="pre">abs()</span></code></a></p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">int(x)</span></code></p></td>
<td><p><em>x</em> converted to integer</p></td>
<td><p></p></td>
<td><p><a class="reference internal" href="functions.html#int" title="int"><code class="xref py py-func docutils literal notranslate"><span class="pre">int()</span></code></a></p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">float(x)</span></code></p></td>
<td><p><em>x</em> converted to floating point</p></td>
<td><p></p></td>
<td><p><a class="reference internal" href="functions.html#float" title="float"><code class="xref py py-func docutils literal notranslate"><span class="pre">float()</span></code></a></p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">pow(x,</span> <span class="pre">y)</span></code></p></td>
<td><p><em>x</em> to the power <em>y</em></p></td>
<td><p></p></td>
<td><p><a class="reference internal" href="functions.html#pow" title="pow"><code class="xref py py-func docutils literal notranslate"><span class="pre">pow()</span></code></a></p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">**</span> <span class="pre">y</span></code></p></td>
<td><p><em>x</em> to the power <em>y</em></p></td>
<td><p></p></td>
<td></td>
</tr>
</tbody>
</table>

In [131]:
# Для чисел 94 и 43 примените здесь все эти операции

In [80]:
print(94+43)
print(94-43)
print(94*43)
print(94/43)
print(94//43)
print(94%43)
print(-94)
print(-43)
print(+94)
print(+43)
print(abs(94))
print(abs(43))
print(int(94))
print(int(43))
print(float(94))
print(float(43))
print(pow(94,43))
print(94**43)

137
51
4042
2.186046511627907
2
8
-94
-43
94
43
94
43
94
43
94.0
43.0
6990330424163123434035179852100112403036474044734052048030263039361340053023971344384
6990330424163123434035179852100112403036474044734052048030263039361340053023971344384

## Строки

Преобразовать элемент в строку можно с помощью функции `str`

In [132]:
print('Hello')
print("Hello")
print("Hello" == 'Hello')
print(type('Hello'))

Hello
Hello
True
<class 'str'>

In [82]:
print('Какой чудесный день!')
print("Какой чудесный день!")
print("Какой чудесный день!"=='Какой чудесный день!')
print(type('Какой чудесный день!'))
print("Какой чудесный день!"=='Погода ужасная...')
print(type('Погода ужасная...'))

Какой чудесный день!
Какой чудесный день!
True
<class 'str'>
False
<class 'str'>

In [83]:
# строка может содержать бесконечное количество символов

print('')

In [84]:
print('Аааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааа')

Аааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааа

In [133]:
print('Masha's apple')

SyntaxError: unterminated string literal (detected at line 1) (1942883180.py, line 1)

In [134]:
print("Masha's apple")
print('Masha\'s apple')

Masha's apple
Masha's apple

In [86]:
print('Vika\'s coffee')
print("Vika's coffee")

Vika's coffee
Vika's coffee

<table class="table table-hover">
<thead>
<tr>
<th>Символы<br>Экранирования</th>
<th>Usual Interpretation of<br>Character(s) After Backslash</th>
<th>“Escaped” Interpretation</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>\'</code></td>
<td>Terminates string with single quote opening delimiter</td>
<td>Literal single quote (<code>'</code>) character</td>
</tr>
<tr>
<td><code>\"</code></td>
<td>Terminates string with double quote opening delimiter</td>
<td>Literal double quote (<code>"</code>) character</td>
</tr>
<tr>
<td><code>\&lt;newline&gt;</code></td>
<td>Terminates input line</td>
<td><a href="https://stackoverflow.com/questions/48693600/what-does-the-newline-escape-sequence-mean-in-python">Newline is ignored</a></td>
</tr>
<tr>
<td><code>\\</code></td>
<td>Introduces escape sequence</td>
<td>Literal backslash (<code>\</code>) character</td>
</tr>
</tbody>
</table>

In [135]:
print(1, 2, 3, end='', sep="---")
print(1, 2, 3)

1---2---31 2 3

In [87]:
print(5,6,7, end="cool", sep="-boo-")

5-boo-6-boo-7cool

## Логический тип данных

Важно отметить, что у всех объектов в питоне есть логическое значение. Т.е. он может быть протестирован на истинность. По умолчанию все объекты являются истинными (True), если только не определены специальные методы.

```
>>>bool(10)
True
>>>bool(-10)
True
>>>bool('Hello')
True
>>>bool('')
False
```

In [136]:
None

In [137]:
bool(None)

False

In [138]:
True
False

False

In [139]:
print(bool(0))
print(bool(''))

False
False

In [91]:
V>4
print(bool(v<4))
print(bool(v>4))

False
True

Булевы операторы

<table class="docutils align-default">
<colgroup>
<col style="width: 25%">
<col style="width: 62%">
<col style="width: 13%">
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Operation</p></th>
<th class="head"><p>Result</p></th>
<th class="head"><p>Notes</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">or</span> <span class="pre">y</span></code></p></td>
<td><p>if <em>x</em> is false, then <em>y</em>, else
<em>x</em></p></td>
<td><p>(1)</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">and</span> <span class="pre">y</span></code></p></td>
<td><p>if <em>x</em> is false, then <em>x</em>, else
<em>y</em></p></td>
<td><p>(2)</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">not</span> <span class="pre">x</span></code></p></td>
<td><p>if <em>x</em> is false, then <code class="docutils literal notranslate"><span class="pre">True</span></code>,
else <code class="docutils literal notranslate"><span class="pre">False</span></code></p></td>
<td><p>(3)</p></td>
</tr>
</tbody>
</table>

In [140]:
print(int(False or False))
print(int(False or True))
print(True or False)
print(True or True)

0
1
True
True

In [92]:
print(int(False or False))
print(int(True or False))
print(False or False)
print(True or False)

0
1
False
True

In [141]:
bool(10), bool(None)

(True, False)

In [93]:
bool(5), bool(-5), bool(None)

(True, True, False)

In [142]:
10 or None

10

In [95]:
print(5 or None)
print(5 or -5)
print(None or None)
print(5 and None)
print(5 and -5)
print(not 5)

5
5
None
None
-5
False

In [104]:
'asd' and 'asc'

'asc'

In [99]:
print('Кот' or 'Пес')
print('Кот' and 'Пес')
print(not'Кот')

Кот
Пес
False

Операторы сравнения

<table class="docutils align-default">
<colgroup>
<col style="width: 32%">
<col style="width: 68%">
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Operation</p></th>
<th class="head"><p>Meaning</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">&lt;</span></code></p></td>
<td><p>strictly less than</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">&lt;=</span></code></p></td>
<td><p>less than or equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">&gt;</span></code></p></td>
<td><p>strictly greater than</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">&gt;=</span></code></p></td>
<td><p>greater than or equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">==</span></code></p></td>
<td><p>equal</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">!=</span></code></p></td>
<td><p>not equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">is</span></code></p></td>
<td><p>object identity</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">is</span> <span class="pre">not</span></code></p></td>
<td><p>negated object identity</p></td>
</tr>
</tbody>
</table>

In [100]:
10 < 15

True

In [101]:
1 == 1

True

In [102]:
1 is not 'abc'

<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/tmp/ipython-input-144/4045176905.py:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  1 is not 'abc'

True

In [103]:
1 or 1

1

In [106]:
print(125<130)
print(125<=130)
print(125>130)
print(125>=130)
print(125==125)
print(125==130)
print(125!=125)
print(125!=130)
print(125 is 125)
print(125 is not 130)

True
True
False
False
True
False
False
True
True
True

<>:9: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:10: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:9: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:10: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/tmp/ipython-input-144/2085456942.py:9: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(125 is 125)
/tmp/ipython-input-144/2085456942.py:10: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print(125 is not 130)

# Задание 1

Создайте две переменные var_a и var_b. var_a присвойте числовое значение равное длю своего рождения, var_b присвойте значение равное номерну месяца своего значения.
Для переменных var_a и var_b выполните все арифметические и логические операции приведенные выше.

Пример:

```

a = 7
b = 2

print ('Sum: ', a + b)  
print ('Subtraction: ', a - b)   
print ('Multiplication: ', a * b)  
print ('Division: ', a / b)
print ('Floor Division: ', a // b)
print ('Modulo: ', a % b)  
print ('Power: ', a ** b)

print((a > 2) and (b >= 6))    # True

x = 5
y = 8

print("x == y:", x == y)
print("x != y:", x != y)
print("x < y:", x < y)
print("x > y:", x > y)
print("x <= y:", x <= y)
print("x >= y:", x >= y)
```

In [145]:
a=24
b=4

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

print((a>2) and (b>=6))
print((a>2) or (b>=6))

print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

28
20
96
6.0
6
0
331776
False
True
False
True
False
True
False
True

# Задание 2

Присвойте переменной var_c значение 32.98.

Преобразуйте переменную к типам int, float, string и выведите результат на экран. Объясните что получилось в результате преобразования.

In [148]:
c=32.98
print(int(c)) #целое число без дробной части
print(float(c)) #числа с дробной частью
print(str(c)) #неизменяемая последовательность символов в строке

32
32.98
32.98

# Задание 3

1. Дано целое число A. Проверить истинность высказывания: «Число A является положительным».
1. Дано целое число A. Проверить истинность высказывания: «Число A является нечетным».
3. Дано целое число A. Проверить истинность высказывания: «Число A является четным».
4. Даны два целых числа: A, B. Проверить истинность высказывания: «Справедливы неравенства A > 2 и B ≤ 3».
5. Даны два целых числа: A, B. Проверить истинность высказывания: «Справедливы неравенства A ≥ 0 или B < –2».
6. Даны три целых числа: A, B, C. Проверить истинность высказыва-ния: «Справедливо двойное неравенство A < B < C».
7. Даны три целых числа: A, B, C. Проверить истинность высказыва-ния: «Число B находится между числами A и C».

Пример решения п. 1

```
A=-3
print("Число",A,"является положительным", A>0)
```

In [218]:
A=-3
print(A>0)
print(A%2!=0)
print(A/2==0)
A=-3
B=6
print((A>2)and(B<=3))
print((A>=0)or(B<-2))
A=-3
B=6
C=10
print(A<B<C)
print(A<B and B<C)

False
True
False
False
False
True
True

In [196]:
A=-3
print(A>0)

False

In [219]:
print(A%2!=0)

True

In [222]:
print(A%2==0)

False

In [223]:
A=-3
B=6
print((A>2)and(B<=3))

False

In [224]:
print((A>=0)or(B<-2))

False

In [228]:
A=-3
B=6
C=10
print(A<B<C)

True

In [231]:
print(A<B and B<C)

True